<div class="jumbotron">
  <h1>Terms and Conditions</h1>
</div>
<div class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2">

    <h2>Student policy</h2>
<h4>Asking a question at ‘Ask a Tutor’ forum</h4>
<li>Only ask questions related to academics, (e.g. a question on GCSE biology, UCAS admissions process) and not write anything that are derogatory, for advert purpose.</li>   

<h4>Making an enquiry</h4>
<p>As a student, when making an enquiry to a selected tutor, you agree to your enquiry being viewable by other tutors and the following guidelines:</p>
<li>Request tutorship with clear description of how you want the tuition to be with desired subject and fee.</li> 
<li>Answer questions from tutors to clarify the goals of tuition.</li> 
<li>Evaluate multiple proposals from tutors against criteria important to you, such as a tutor’s teaching experience, education, qualifications, references, feedback from prior students, location, and language spoken.</li>

<h4>Requesting tutorship</h4>
<p>You agree NOT to do the following when you request tutorship with a selected tutor:</p>
<li>Request any tutorship that is fake made without the intention of receiving tuition.</li>

<h4>Tutorial conduct</h4>
<li>Make sure to notify the tutor at least 3 hours in advance if you are going to be late for Tuition.</li>
<li>Inform the tutor if you will be unavailable for the next tutorial session date 3 business days prior to the tutorial.</li> 
<li>If absent for a schedule tutorial session without notifying 3 hours prior to the scheduled session, 10% of the fee for the tutorial will charged.</li> 


    <h2>Payment policy</h2>
<p>Young Tutors’s Payment Service allows tutors to invoice students and students to pay tutors via the Site as an escrow service. The escrow service is used by students to pay tuition.</p> 

<h4>How students pay tutors</h4> 
<p>To pay the tutorial fee, student must follow the instructions and links on the Site and provide the information requested. student may also pay tutor a bonus, at student’s discretion, using the Site. Young Tutors will charge the student’s Payment Method for the necessary amount to pay the tutor’s invoice or bonus.</p> 

<h4>Payments Irrevocable</h4> 
<p>Student’s instruction to Young Tutors to pay a tutor is irrevocable. Such instruction is student’s authorization to transfer funds to tutor from student’s Account or authorization to charge student’s Payment Method. Such instruction is also student’s representation that student has received, inspected and accepted the subject work or expense. student acknowledges and agrees that upon receipt of student’s instruction to pay tutor, Young Tutors will transfer funds to the tutor and has no responsibility to and may not be able to recover such funds. Therefore, and in consideration of the Payment Services, student agrees that once Young Tutors has charged student’s Payment Method, the charge is non-refundable. student agrees not to ask its credit card company, bank or other payment service provider to charge back any amount to Young Tutors for any reason. A chargeback in breach of the foregoing obligation is a material breach of this Agreement and the User Agreement. If student does so, student hereby agrees that Young Tutors may dispute or appeal the chargeback, or institute collection action against student, and student agrees to repay Young Tutors for the amount of the chargeback plus reasonable attorney fees and costs of collection incurred by Young Tutors to recover such amounts from student, and administrative fees in the amount of $2,000 which amount student hereby agrees is reasonable.</p>  

<h4>No Responsibility for tutor Services or student Payments</h4>
<p>Young Tutors merely provides an internet payment service to student. Young Tutors does not have any responsibility or control over the Tuition Services that student purchases. Nothing in the Payment Service will be deemed to constitute Young Tutors your agent with respect to any Tuition Services that you purchase, or expand or modify any warranty, liability or indemnity stated in the Terms of Service. For example, Young Tutors does not guarantee the performance, functionality, quality, or timeliness of Tuition Services.</p> 

<h4>Appointment of Young Tutors as Agent</h4>
<p>If you are a student and you instruct Young Tutors to pay your tutor, you hereby appoint Young Tutors as your agent, on your behalf to charge your payment method and debit your Account to pay the tutor.</p>  

<h4>Disputes between students and tutors</h4>
<p>By using Young Tutors’s Payment Service, you agree to follow the Refund and Cancellation Policy referenced therein, in connection with any disputes about Tuition Services or payments by students. You further acknowledge and agree that Young Tutors is not and will not be a party to any such dispute. Young Tutors may, at its sole discretion, withhold or delay payment in the event of dispute between a student and a tutor.</p> 

  </div>
  </div>
