<div class="jumbotron">
  <h1>Terms and Conditions</h1>
</div>
<div class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2">

<h2>Tutor policy</h2>
 <h4>Commenting answers on ‘Ask a Tutor’ forum</h4>
    <p><i>You agree to follow these guidelines when you comment answers on the question forum:</i></p>
    <li>Only write answers that are facts.</li>
    <li>Do not write anything other than answers to the question, i.e. derogatory, advert purpose comments that are irrelevant to the question  
 <h4>Making proposals to enquiries</h4>
   <p>You agree to follow these guidelines when you submit a proposal:</p>
    <li>Provide proposals only for enquiries that you are a good fit for because you have studied the particular subject requested and know the subject well enough to tutor the student.</li>
    <li>Submit an accurate proposal reflecting your understanding of the subject with qualifications or standardized test score if applicable.</li>
    <li>Help the student clarify his or her needs and fully develop Young Tutorsn plan and schedule.</li> 
    <li>Specify payment terms in your proposal.</li>
    <li>Inform the student of your available hours.</li>
    <li>Not to offer your services in exchange for good feedback or for free.</li>
    <li>Submit certificates of any standardized test scores or university enrolment,/ graduation if requested by student.</li>
    <li>Not to offer Young Tutorsn outside Young Tutors for cheaper Young Tutorsn fee.</li>

  <h4>Accepting tutorship request:</h4>
    <p><i>You agree to follow these guidelines when you accept a tutorship request:</i></p>
    <li>Only accept tutorships for which you have studied the particular subject requested and know the subject well enough to tutor the student.</li>
    <li>Only accept tutorships for which you can fulfill the specified duration.</li>
    <li>Not to offer cheaper Young Tutorsn fee for booking tutorship outside Young Tutors.</li>


 <h4>Fulfilling the tutoring job</h4>
    <li>Make sure to notify the student at least 3 hours in advance if you are going to be late for Young Tutorsn.</li> 
    <li>Make sure you know the tuition materials.</li>
    <li>Do not fabricate academic facts.</li>
    <li>Make sure to complete and give back all problem sheets, essay markings by the agreed date.</li>
    <li>Inform the student if you will be unavailable for the next tutorial session date 3 business days prior to the tutorial.</li>
    <li>If you are unable to complete the Young Tutorsn, let support@youngtutors.com know of the situation immediately so that it can offer assistance to the student.</li>
    <li>Respond promptly, within one working day, to all tutorial-related communication, whether from the student or from Young Tutors.</li>
    <li>Do not violate academic integrity by doing homework, projects for the student.</li> 
    
<h2>Billing policy</h2>
  <p>Young Tutors’s Payment Service allows tutors to invoice students and students to pay tutors via the Site as an escrow service. The escrow service is used by students to pay tuition.</p>  

<h4>How tutors Bill for Services and Expenses</h4>
  <p>To create an invoice and bill a student for Tuition Services, tutor must follow the instructions and provide the information requested under the “Billing” links on the Site. By submitting an invoice, tutor (1) irrevocably instructs and authorizes Young Tutors to bill the student and receive payments from the student on tutor’s behalf; (2) represents and warrants that tutor has completed the applicable tutor Services fully and satisfactorily; (3) represents and warrants that the hours tutor reports are true, accurate and complete in the case of hourly Tuition.</p> 
    
<h4>Appointment of Young Tutors as Agent</h4> 
  <p>If you are a tutor and you request payment for a Tuition, you hereby appoint Young Tutors as your agent to obtain funds on your behalf from your student and credit them to your Account. Tutor must and hereby does fully discharge and credit its student for all payments that Young Tutors receives from the student on the tutor’s behalf.</p> 
    
<h4>Service Fees</h4> 
  <p>Young Tutors will deduct its Service Fee from the tutor’s Account after crediting the amount paid by student to tutor’s Account via the Site. The amount of the Service Fee deducted by Young Tutors varies as detailed on the Site.</p>  

<h4>Disputes between students and tutors</h4> 
  <p>By using Young Tutors’s Payment Service, you agree to follow the Refund and Cancellation Policy referenced therein, in connection with any disputes about Tuition Services or payments by students. You further acknowledge and agree that Young Tutors is not and will not be a party to any such dispute. Young Tutors may, at its sole discretion, withhold or delay payment in the event of dispute between a student and a tutor.</p> 
    
  </div>
  </div>