<div class="jumbotron">
  <h1>How it works</h1><br>
  <h2>Search for Tutors  -  2. Contact Tutors  -  3. Request a Tutor  -  4. Tuition</h2>
</div>

<div class="container">
<div class="index">
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<h3>1. Search for tutors</h3> 
		<p>What is the subject that you would like to be tutored in?</p> 
    <h3>2. Contact Tutors</h3>
		<p>Found the tutor(s) you like? Message the tutor(s) to discuss your needs, dates you are hoping to have tuition and ask any questions you have! Tutors will state their availabilities within 24 hours of your enquiry.</p>
    <h3>3. Request a Tutor</h3>
		<p>Happy and set with a tutor? Your tutor is available for your desired tuition dates? Make tutorial request and arrange your first lesson either in person or online!</p>
    <h3>4. Tuition</h3>
    <p>Once tuition is booked and lessons scheduled, it's time to meet your tutor and get down to learning! Prepare and ask questions you do not know the answer to. Prepare some essays for your tutor to have a look at and ask for areas of improvement.
	</div>
	<div class="col-md-3">
    <br>
    <p style="font-size: 17px"><i>"Our son has enjoyed learning from Louis as part of his exam prepaation. Tuitin with Louis has definitely benefited the revision."</i><br>-Cy, ALevel Biology</p>
    <p>
	</div>
</div><!-- end of row -->
</div>

