<div class="container">
<div class="row">
<div class="col-md-7">
<h2>Online Tuition</h2>
<p>
Online learning offers education to be borderless and more accessible and affordable by giving students
a large pool of tutors to choose from for one that can meet the students\' needs. This is especially beneficial
for international students and language learners for the opportunity to learn from local tutors.
</br></br>
<b>How Does Skype Tutorial Work?</b></br>
<p>Using a combination of skype chat and collaborative virtual whiteboard, skype 
tuition allows students and tutors to have tutorials at anytime and anywhere.</p>
    
<img src="./img/idroo.png" style="max-width:100%;"/>
</br></br>
Students and tutors use computer, web browser and broadband internet for secure 
online tutorial. Live video chat program such as skype allows students and tutors 
to look at each other and communicate in real time while educational whiteboard 
program provides a canvas where students and tutors can write with online pen and 
paper to share problems, solutions and explanations. In addition, academic materials 
such as problem sheets and past papers in image, word and pdf files can be uploaded 
for students and tutors to write and work on. 
</br></br>
Skype is recommended as the live video chat program because it is international and 
free while we recommend Idroo for virtual whiteboard. Skype is a free program that 
can be easily downloaded while Idroo 
 (<a href="http://idroo.com/" target="_blank"><span class="txt_style_1">www.idroo.com</span></a>) 
 is a free online software that can be used with Google Chrome and latest versions of 
 Internet Explorer and Firefox.
</p>
</div>
</div>