<div class="container">
<div class="row">
<div class="col-md-7">
<h2>Services for Schools</h2>
<p>
Undergraduate tutors travel to schools to give talks on their experience of 
niversity applications, advice on how to optimise university application and what it is like to study a 
particular course at university. There will be a presentation on the overall application process, a mock interview, 
how to make the best use of the summer and, most importantly, a Q&A session because talking to a current 
undergraduate at the university of the applicant’s choice can be much insightful and valuable.
</br></br>
Young Tutors is not an agent but a platform to promote affordable quality learning where students and tutors 
can connect for private tutorials. We would like to vocalise the purpose of our foundation and that schools 
may recommend our tutors to students that may benefit from Young Tutors’ academic support.
</br></br>
<span class="sub_txt_style2">For international schools</span>
</br>
Young Tutors are working to find local alumni graduates who are able to visit to deliver our talks. However, 
a Skype workshop session may also be possible. Please contact us for more details.</p>
</div>
</div>