<div class="jumbotron">
  <h1>Terms and Conditions</h1>
  <%= link_to "For Students", pages_terms_and_conditions_for_students_path %>
  <%= link_to "For Tutors", pages_terms_and_conditions_for_tutors_path %>
</div>

<div class="container">
<div class="row">
	
	<div class="col-md-8 col-md-offset-2">
		<h3>Where Young Tutors stands between student and tutor</h3>
    <p>
Young Tutors’s job is to provide a platform where students can obtain help with academic work by asking questions in a forum and also where students and tutors can network with each other for tuition. But it is not responsible for providing the tools and space for lesson services and is not responsible for the contents of tutorial.<br><br>
Young Tutors does not endorse any student or tutor and each user is responsible for determining and confirming the identity and suitability of the student and tutor, respectively, interacted with as a result of your use, or use by any third party, of the Site and Services. In addition, although the Young Tutors tutor policy requires tutors to provide accurate information, we do not attempt to confirm, but do not confirm, any tutor's identity. But a student may request a tutor for validation of education history that is claimed on his/ her profile; this includes asking for a university enrolment transcript or certificates of standardized tests. We are not a tutorial agency and, therefore, we will not be responsible for any damage or harm resulting from your interactions, or those of anyone else, with tutors or students.<br><br>
By using the Site or Services, you, and any third party using the Site and Services under your Account, agree (i) any legal remedy or liability that you or such third party seek to obtain for actions or omissions of tutors, students or other third parties will be limited to a claim against the particular Tutor, student or the third parties who caused you, or such third party harm; and (ii) not to attempt to impose liability on, or seek any legal remedy from Young Tutors with respect to such actions or omissions. In addition, Young Tutors is not responsible for the use or exchange of any information or files between tutors and users. Further, Young Tutors does not control, nor is it responsible for, the accuracy, safety, timeliness, quality or legality of anything said or written by tutors or students. 
</p>
  </div>
</div>