<div class="container">
<div class="row">
<div class="col-md-7">
<p>With more and more students going on to higher education, university admissions has been increasingly competitive. We believe that speaking to a current undergraduate studying your desired subject at your desired university can be a great first step for your university application process. Read more about university admissions mentorship.
</p>
<h2>UK universities</h2>
<p>
UK university applications involve UCAS (University and College Admissions Service) that requires applicants to submit several documents such as personal statement and predicted grades. Applicants may apply for up to 5 universities; however, applicants can only apply to either Oxford or Cambridge.</p>
<img src="https://dl.dropboxusercontent.com/s/fammuojpibfhvug/page.jpg" alt="Img" height="200" width="200"> 
<p>
Personal statement is 4000 character summary of why an applicant wishes to study a particular course.
Admissions tests and interviews for competitive universities such as Oxbridge, Durham, Bristol, Imperial, LSE, UCL and etc. and also for competitive courses such as medicine and law may be required. Admissions tests are used by universities to examine applicants’ academic potential beyond their predicted grades from national examinations. Some of these are designed to be subject-specific while others are designed to test thinking skills in general.</p>

<p>
Please find which admissions tests are required for which courses from the link below:
</br>
<a href="http://www.admissionstestingservice.org/our-services/subject-specific/" target="_blank"><span class="sub_txt2_style10">
http://www.admissionstestingservice.org/our-services/subject-specific/</span></a></p>

<p>
Similarly, interviews are used to assess applicants’ academic excellence and potential but, in addition, they provide a way for universities to assess applicants’ passion for subjects they wish to study. Oxford and Cambridge are famous for how important interviews are in their admissions process.  
Oxbridge applicants are usually interviewed by 2 or 3 tutors, and may have up to two interviews with each interview being 20-30 minutes long. Students will often be asked to talk about what interests them about the subject they are applying to study, based on their personal statement, or books or articles they have read recently.</p>

<p>
 Conditional offers are given by end of March where applicants must meet certain A-Level/ IB/ Pre-U examination grades as demanded by universities in order to secure their university entrance. </p>

<p>
Young Tutors believes that undergraduate and graduate students at these universities 
can be excellent tutors because they have been through the relevant national curriculum 
examinations and obtained top grades. Additionally, they may be able to offer valuable 
advice on applications to these universities.


<h2>US universities</h2>

<p>
 Although all elite universities look for students with excellent <b>academic records</b>, Ivy League Universities for example, Harvard, Yale and Princeton) and the best Liberal Arts Colleges (for example, Williams College, Amherst College and Pomona College) in the USA also put a strong emphasis on <b>extra-curricular achievements</b>, personal/ leadership qualities and the student’s commitment to attending a particular institution when deciding which  applicants to offer places to.
</p>
<img src="https://dl.dropboxusercontent.com/s/50dg9sieo89sft8/page%20%282%29.jpg" alt="Img" height="200" width="200"> 
<p class="middle-box-p with-title">
<b>College Essays</b></p>
<p class="middle-box-p with-title">
Each essay is 500-750 words long, and each university sets its own essay questions for admission. 
However, the essay topics are similar for most universities: typically, they will ask you to discuss 
your academic background and motivation, give your perspective on a topical issue and/ or analyse some of your personal experiences and set out your goals and ambitions.</p>

<p class="middle-box-p with-title">
<b>Standardised Tests</b>
<br/>
<p class="middle-box-p with-title">
    Applicants need to take either the <a href="http://sat.collegeboard.org/" target="_blank"><span class="sub_txt2_style10">SAT</span></a> or the 
            <a href="http://www.act.org/products/k-12-act-test/" target="_blank"><span class="sub_txt2_style10">ACT</span></a> which are offered several times a year throughout numerous sites in the UK.
<br/><br/>    SAT – tests in Critical Reading, Mathematics and Writing

<br/><br/>    ACT – tests in English, Mathematics, Reading and Science Reasoning

<br/><br/>    Some of the most competitive institutions will also ask you to take the <a href="http://www.act.org/aap/writing/" target="_blank"><span class="sub_txt2_style10">ACT writing test</span></a> and/ or <a href="http://sat.collegeboard.org/about-tests/sat-subject-tests" target="_blank"><span class="sub_txt2_style10">SAT Subject Tests</span></a>

<br/><br/>    SAT Subject Tests – 20 multiple choice questions on individual subjects

<br/><br/>    ACT writing test – 30 minute essay test</p>

<p class="middle-box-p with-title">
<b>Peer Recommendation</b>
<br/>
US interviews are conducted by alumni and are not so much as intense as Oxbridge ones but more to check whether the applicant is sure about the university or not.
</p>

</div>
</div>