// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {font-family: lato;
}

p {	font-size: 12px;
	line-heigh: 20px;
	}

.col-md-6 .alignleft {
	float: left;
}

.col-md-6 .alignright {
	float: right;
}