// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {font-family: aktiv-grotesk std;
  line-height: 150%
}
p {	font-size: 19px;
	line-heigh: 18px;
  font-family: aktiv-grotesk std;
  color: #757582
	}

.col-md-6 .alignleft {
	float: left;
}

.col-md-6 .alignright {
	float: right;
}